$dice-btn-bg: indigo;
$dice-btn-text: white;
$dice-hover-bg: #3e006b;
$dice-outline-clr: #160026;
$dice-active-bg: #5e00a3;
$dice-active-text: #ffffed;
$display-bg: #e6ae22;
$history-bg: #ffc83b;
$display-text: #1a0f1f;
$display-outline: #1a0f1f80;
$addbtn-bg: #FCDE9C;
$addbtn-hover-bg:  #f0d395;
$form-bg: #fbf5ff;
$form-text: #1c1504;