@use '_colors';
@use '_screens';

.ReactModal__Content{
    background-color: colors.$form-bg;
}

.modal-content{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: colors.$form-text;

    .form-heading{
        margin-bottom: 1rem;
    }

    .form-heading > *{
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .modal-input-container{     
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .custom-btn-form{
            height: 100%;
            display: flex;
            flex-direction: column;

            .input-row{
                margin: 0;
                margin-bottom: 0.75rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .modal-btn{
                width: 7rem;
                height: 2rem;
            }
        }
    }
}

@media #{screens.$medium} {
    .modal-content{
        font-size: 1.25rem;

        .form-heading{
            margin-bottom: 1.5rem;
        }
    
        .form-heading > *{
            margin-bottom: 1rem;
        }

        .input-row{
            flex-direction: row !important;
            margin-bottom: 2rem !important;
    
            .input-label{
                margin-right: 0.5rem;
            }
        }
    }
}

@media #{screens.$large} {
    .modal-content{
        font-size: 2rem;

        .modal-btn{
            width: 10rem !important;
            height: 4rem !important;
        }

        .input-label{
            margin-right: 1.5rem !important;
        }
    }
    // .modal-content{
    //     height: 100%;
    //     width: 100%;
    //     margin: 0 auto;
    
    //     .modal-input-container{
    //         font-size: 1.5rem;
    //         width: 50%;
    //         height: 100%;
    //         margin: 0 auto;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    
    //         .custom-btn-form{
    //             display: flex;
    //             flex-direction: column;
    
    //             .input-row{
    //                 margin: 0.5rem 0;
    
    //                 label{
    //                     margin-right: 0.5rem;
    //                 }
    //             }
    
    //             .modal-btn{
    //                 width: 7rem;
    //                 height: 2rem;
    //             }
    //         }
    //     }
    // }
}








